.navbar {
    display: flex;
    flex-direction: row;
    position: fixed; /* Фиксируем наверху */
    top: 0;
    left: 0;
    justify-content:space-around;
    width: 100%;
    height: 80px;
    background: black;
    z-index: 1000; /* Чтобы не перекрывался другими элементами */
    align-items: center;
  }
  


  .navbar-logo-text{
    white-space: nowrap;
    font-family: Roboto;
    font-weight: 500;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 300%;
    color: white;
  }
  .navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-right: 50px;
    text-align: center;
    align-items: center;

  }
  .navbar-link-right-side{
    font-family: Roboto;
    font-size: 200%;
    color: white;
  }

  .navbar-button-enter{
    background-color: #30d5c8;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 80%;
    font-family: Roboto;
    color: white;
  }

  .navbar-button-enter:hover{
    opacity: 0.8;
  }
  .navbar-button-enter:active{
    opacity: 0.6;
  }