.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: black;
    color: rgb(205, 45, 45);
    font-size: 20px;
    padding: 10px 0;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }